.NavBar {
  background-color: #252424;
}

.Link {
  color: #d8d8d8;
  font-size: 1.25rem;
  padding: 0.5rem 0.5rem;
  text-decoration: none;
}

.Link:hover {
  color: #858585;
}

.Link img {
  border-radius: 50%;
  border: 0px none #252424;
  margin: 0.2rem 0.5rem;
}

.Brand {
  color: #d8d8d8;
  font-size: 1.75rem;
}

.Brand:hover {
  color: #858585;
}
